@font-face {
    font-family: "pt_serifbold";
    src: url('fonts/pt_serifbold.woff') format('woff');
    font-weight: 700;
    font-style: bold;
  }

@font-face {
  font-family: "MuseoSansCyrl300";
  src: url('fonts/MuseoSansCyrl300.woff') format('woff');
  font-weight: 300;
  font-style: bold;
}

@font-face {
  font-family: "MuseoSansCyrl500";
  src: url('fonts/MuseoSansCyrl500.woff') format('woff');
  font-weight: 500;
  font-style: bold;
}

@font-face {
  font-family: "MuseoSansCyrl500_normal";
  src: url('fonts/MuseoSansCyrl500.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
    font-family: "MuseoSansCyrl700";
    src: url('fonts/MuseoSansCyrl700.woff') format('woff');
    font-weight: 700;
    font-style: bold;
}
