html, body{
  height: 100%;
}

body {
  margin: 0;
  background-color: #101f1a;
  background-image: url("img/iswanto_arif.png");
  background-position-x: center;
  background-repeat: no-repeat;
}

.wrapper {
  position: relative;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-left: 0;
}

.logo{
  background-image: url("img/logo.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 104px;
  height: 39px;
}

.main {
  position: relative;
}

.main__title{
  margin: 0;
  color: #f8eee4;
  opacity: 0.4;
}

.main__subtitle{
  position: absolute;
  z-index: 1;
  color: #f8eee4;
  margin: 0;
}

.main__text{
  color: #f8eee4;
}

.main__button{
  color: #fff;
  position: relative;
  background: #d4bea3;
  text-decoration: none;
  border-radius: 48px;
  transition: opacity 0.5s;
}

.gallery{
  position: absolute;
  padding: 0;
  margin: 0;
}

.gallery__pic{
  width: 202px;
  height: 270px;
  border-radius: 5px;
  z-index: 2;
  padding: 0;
  margin: 0;
  transition: transform .2s;
}

.gallery__pic_pic2:hover,
.gallery__pic_pic3:hover{
  transform: scale(1.1);
}

.gallery__pic_pic1{
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  height: 300px;
  width: 226px;
  background: top right no-repeat url(img/pic1.jpg);
  background-size: cover;
}

.gallery__pic_pic2{
  display: inline-block;
  position: absolute;
  top: 15px;
  left: 250px;
  height: 270px;
  width: 202px;
  background: top right no-repeat url(img/pic2.jpg);
  background-size: cover;
}

.gallery__pic_pic3{
  display: inline-block;
  position: absolute;
  top: 15px;
  left: 476px;
  height: 270px;
  width: 181px;
  background: top right no-repeat url(img/pic3.jpg);
  background-size: cover;
  overflow: hidden;
}

@media (min-width: 200px) {
  body {
    background-size: 1152px 768px;
    background-position-y: -39px;
  }

  .wrapper {
    width: 96vw;
    margin-left: 4vw;
  }

  .header {
    margin-top: 42px;
    margin-bottom: 59px;
    margin-right: 33px;
  }

  .menu {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }

  .logo{
    margin-left: 25px;
  }

  .main {
    width: 343px;
    height: 65vh;
    left: -8px;
    margin: auto;
  }

  .main__title{
    font: 140px/186px "pt_serifbold", serif;
  }

  .main__subtitle{
    top: 120px;
    left: 50px;
    font: 50px/66px "pt_serifbold", serif;
  }

  .main__text{
    font: 15px/18px "MuseoSansCyrl300", sans-serif;
    letter-spacing: 0.2px;
    width: 244px;
    margin: 30px auto 48px auto;
    text-align: center;
  }

  .main__button{
    font: 16px/19px "MuseoSansCyrl700", sans-serif;
    padding: 12px 62px 13px 62px;
    margin-left: 60px;
  }

  #menu__toggle {
    opacity: 0;
  }

  .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 57px;
    right: 33px;
    width: 25px;
    height: 17px;
    cursor: pointer;
    z-index: 3;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #FCF5ED;
    transition: 0.5s;
  }

  .menu__btn > span::before {
    content: '';
    top: -7px;
  }

  .menu__btn > span::after {
    content: '';
    top: 7px;
  }

  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 186px 0 0 0;
    list-style: none;
    text-align: center;
    background-color: #3e554d;
    z-index: 2;
    transition: 0.5s;
  }

  .menu__point {
    display: block;
    padding: 0 0 24px 0;
    color: #F8EEE4;
    font: normal 30px/36px "MuseoSansCyrl700", sans-serif;
    text-decoration: none;
    transition: 0.5s;
  }

  #menu__toggle:checked ~ .menu__btn {
    transform: translate(6px,-26px);
  }

  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
    background-color: #f8eee4;
  }

  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
    background-color: #f8eee4;
  }

  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
    background-color: #f8eee4;
  }

  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    opacity: 1;
    left: 0;
  }

}

@media (min-width: 350px) {
  .main__title{
    font: 170px/225px "pt_serifbold", serif;
  }

  .main__subtitle{
    top: 147px;
    left: 59px;
    font: 60px/80px "pt_serifbold", serif;
  }

  .main__text{
    font: 18px/21.6px "MuseoSansCyrl300", sans-serif;
    width: 295px;
    margin: 39px auto 48px auto;
  }

}

@media (min-width: 500px) {
  body {
    background-size: 1685px 1124px;
  }

}

@media (min-width: 769px) {
  body {
    background-size: 1433px 955px;
    background-position-y: -40px;
  }

  .header {
    margin-top: 63px;
    margin-bottom: 10px;
    margin-right: 37px;
  }

  .hamburger-menu,
  .menu__box {
    display: none;
  }

  .logo,
  .menu {
    display: inline-block;
  }

  .menu {
    display: flex;
    align-items:center;
    margin-right: 0;
  }

  .logo{
    margin: 0;
  }

  .menu__item {
    position: relative;
    margin-right: 26px;
    font: 13px/16px "MuseoSansCyrl500", sans-serif;
    color: #F8EEE4;
    text-decoration: none;
    transition: opacity 0.5s;
  }

  .menu__item:last-child {
    margin-right: 0;
  }

  .menu__item:hover {
    opacity: 0.5;
  }

  .main {
    height: 397px;
    margin: 0;
    left: 0;
  }

  .main__title{
    font: 200px/265px "pt_serifbold", serif;
  }

  .main__subtitle{
    top: 162px;
    font: 70px/93px "pt_serifbold", serif;
  }

  .main__text{
    font: 16px/19px "MuseoSansCyrl500_normal", sans-serif;
    width: 399px;
    margin-left: 15px;
    margin-top: 3px;
    margin-bottom: 39px;
    text-align: inherit;
    letter-spacing: normal;
  }

  .main__button{
    padding: 12px 63px 12px 62px;
    margin-left: 15px;
  }

  .gallery{
    top: 179px;
    right: -144px;
    width: 457px;
    height: 300px;
  }

}

@media (min-width: 1020px) {
  body {
    background-size: 1433px 955px;
    background-position-y: -40px;
  }

  .header {
    margin-top: 63px;
    margin-bottom: 98px;
    margin-right: 37px;
  }

  .hamburger-menu,
  .menu__box {
    display: none;
  }

  .logo,
  .menu {
    display: inline-block;
  }

  .menu {
    display: flex;
    align-items:center;
    margin-right: 0;
  }

  .logo{
    margin-left: 0;
    margin-right: 483px;
  }

  .menu__item {
    position: relative;
    margin-right: 26px;
    font: 16px/19px "MuseoSansCyrl500", sans-serif;
    color: #f8eee4;
    text-decoration: none;
    transition: opacity 0.5s;
  }

  .menu__item:last-child {
    margin-right: 0;
  }

  .menu__item:hover {
    opacity: 0.5;
  }

  .main {
    height: 397px;
    margin: 0;
    left: 0;
  }

  .main__title{
    font: 200px/265px "pt_serifbold", serif;
  }

  .main__subtitle{
    top: 162px;
    font: 70px/93px "pt_serifbold", serif;
  }

  .main__text{
    font: 16px/19px "MuseoSansCyrl500_normal", sans-serif;
    width: 399px;
    margin-left: 15px;
    margin-top: 3px;
    margin-bottom: 39px;
    text-align: inherit;
    letter-spacing: normal;
  }

  .main__button{
    padding: 12px 63px 12px 62px;
    margin-left: 15px;
  }

  .gallery{
    top: 279px;
    right: -144px;
    width: 657px;
    height: 300px;
  }

}

@media (min-width: 1366px) {
  body {
    background-size: 1433px 955px;
    background-position-y: -40px;
  }

  .wrapper {
    width: 89.6vw;
    margin-left: 10.4vw;
  }

  .header {
    display: flex;
    justify-content: space-between;
    margin-right: 81px;
    margin-bottom: 96px;
  }

  .hamburger-menu,
  .menu__box {
    display: none;
  }

  .logo,
  .menu {
    display: inline-block;
  }

  .menu {
    display: flex;
    align-items:center;
    margin-right: 0;
  }

  .logo{
    margin-right: 680px;
  }

  .main__title{
    font: 200px/265px "pt_serifbold", serif;
  }

  .main__subtitle{
    top: 163px;
  }

  .gallery{
    top: 276px;
    right: -33px;
    width: 657px;
    height: 300px;
  }

}

@media (min-width: 1431px) {
  body {
    background-size: 2014px 1343px;
    background-position-y: -56px;
  }

  .header {
    margin-bottom: 92px;
  }

  .hamburger-menu,
  .menu__box {
    display: none;
  }

  .logo,
  .menu {
    display: inline-block;
  }

  .menu {
    display: flex;
    align-items:center;
    margin-right: 0;
  }

  .logo{
    margin-right: 680px;
  }

  .main__title{
    font: 200px/265px "pt_serifbold", serif;
  }

  .main__subtitle{
    top: 164px;
  }

  .main__text{
    margin-top: 6px;
    margin-bottom: 36px;
  }

  .main__button{
    padding: 12px 61px 12px 62px;
  }

  .gallery{
    top: 276px;
    right: -33px;
    width: 657px;
    height: 300px;
  }

}

@media (min-width: 1920px) {
  body {
    background-size: 2014px 1343px;
    background-position-y: -56px;
  }

  .header {
    margin-top: 88px;
    margin-bottom: 132px;
    margin-right: 115px;
  }

  .hamburger-menu,
  .menu__box {
    display: none;
  }

  .logo,
  .menu {
    display: inline-block;
  }

  .menu {
    display: flex;
    align-items:center;
    margin-right: 0;
  }

  .logo{
    width: 146px;
    height: 55px;
    margin-right: 956px;
  }

  .menu__item {
    margin-right: 38px;
    font: 22px/26px "MuseoSansCyrl500", sans-serif;
  }

  .main {
    height: 558px;
  }

  .main__title{
    font: 280px/371px "pt_serifbold", serif;
  }

  .main__subtitle{
    left: 83px;
    top: 231px;
    font: 98px/130px "pt_serifbold", serif;
  }

  .main__text{
    font: 22px/26px "MuseoSansCyrl500_normal", sans-serif;
    width: 551px;
    margin-top: 9px;
    margin-left: 20px;
    margin-bottom: 55px;
  }

  .main__button{
    font: 22px/26px "MuseoSansCyrl700", sans-serif;
    padding: 17px 89px 18px 87px;
    margin-left: 22px;
  }

  .gallery{
    top: 389px;
    right: -46px;
    width: 923px;
    height: 422px;
  }

  .gallery__pic{
    width: 284px;
    height: 380px;
  }

  .gallery__pic_pic1{
    top: 0;
    left: 0;
    height: 422px;
    width: 317px;
  }

  .gallery__pic_pic2{
    top: 21px;
    left: 351px;
    height: 380px;
    width: 284px;
  }

  .gallery__pic_pic3{
    top: 21px;
    left: 669px;
    height: 380px;
    width: 208px;
  }

}

@media (min-width: 2015px) {
  body {
    background-size: 2618px 1746px;
  }

}

@media (min-width: 2620px) {
  body {
    background-image: url("img/iswanto_arif.png");
    background-size: 4005px 2671px;
  }

  .wrapper {
    width: 60vw;
    margin: auto;
  }

  .logo{
    width: 146px;
    height: 55px;
    margin-right: 800px;
  }

}

@media (min-width: 3450px) {
  .wrapper {
    width: 50vw;
  }

}
